# General
.DS_Store
*.log
*.swp
*.swo
*.pyc
__pycache__/
dist/
build/
.env
.env.*

# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Python / Poetry
.venv/
poetry.lock
*.egg-info/

# IDEs
.idea/
.vscode/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

backend-ts/node_modules/
backend-ts/.vercel/
backend-ts/.turbo/

